 
body{
    font-weight: 3rem;
    background-color:rgb(241, 246, 248);
    
}
p{
    text-decoration: underline;
    text-transform: capitalize;
    display: inline;
    
}
p:hover{
    color: rgb(244, 244, 248);
    font-size:15px;
    background-color: chocolate;

}

h1{
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style:wavy;
}

ol{
    list-style-type:lower-latin;
}
ul{
    list-style-type: square;
}
h2{
    text-align: center;
}